/* div span{
    color:red;
} */

/* h1~span{
    color:green;
} */
/* 0,0,0,1 */
/* p{
    color:red;
} */

/* 0,1,0,1 */

/* h1{
    color:orange;
}
.bd{
    color:black;
}

#bd {
    color: blue;
} */
/* 0,0,1,1 */
/* .raselofficial{
    color:brown;
}
h2{
    color:cyan;
} */
/* 0,0,1,7 */
/* .innerPara{
    color:green;
}
div>div>div>div>div>div>p{
    color:coral;
} */
/* 0,1,2,0 */


/* .secondDiv div .firstPara p #span{
    color:#803e00;
    font-size:60px;
} */






