/* .box {
    width              : 300px;
    height             : 300px;
    margin             : 150px auto; */
    /* background-image: linear-gradient(#0BFB9C,#007AFB); */
    /* background-image   : repeating-linear-gradient(30deg,red,green 20%, yellow 20%,blue 30%); */
    /* background:radial-gradient(green,red,yellow,blue) */
    /* background:repeating-radial-gradient(green 30%,red 50%,blue 20%)
} */
body{
    background: rgb(241, 64, 10);
background: linear-gradient(243deg, rgba(241, 64, 10, 0.9920343137254902) 0%, rgba(253, 45, 252, 1) 100%);
}
button{
    width:200px;
    height:50px;
    display: block;
    margin:150px auto;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    font-size:20px;
    background:linear-gradient(to right,#27AEDC,#3EE09A);
    color:#fff;
    box-shadow: 0px 0px 23px 0px #3ee09a;
}